@font-face {
  font-family: "Inknut antiqua";
  src: url("../assets/inknut-antiqua/medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inknut antiqua";
  src: url("../assets/inknut-antiqua/semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inknut antiqua";
  src: url("../assets/inknut-antiqua/bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inknut antiqua";
  src: url("../assets/inknut-antiqua/light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inknut antiqua";
  src: url("../assets/inknut-antiqua/normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inknut antiqua";
  src: url("../assets/inknut-antiqua/regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inknut antiqua";
  src: url("../assets/inknut-antiqua/extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "inika";
  src: url("../assets/inika/bold-inika.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "inika";
  src: url("../assets/inika/regular-inika.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ingrid darling";
  src: url("../assets/ingrid-darling/IngridDarling-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --side-mrg: 10px;
  --hd-padding: 31px;
  --hd-height: 60px;
  --line-wid: 1.5px;
  --logo-brd: var(--line-wid) solid #323232;
  --line-clr: #323232;
  --background-clr: #131313;
  --header-fnt: "Ingrid darling", Roboto, Helvetica, serif;
  --heading-fnt: "Inknut antiqua", serif;
  --text-fnt: "inika", sans-serif;
  --aboutUs-backClr: #f1f0f0;
  --animation-time: all 200ms ease-out;
  scrollbar-color: #575757 #2d2d2d;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.x-mark,
.three-bars {
  display: none;
  z-index: 99999;
}

::marker {
  content: "";
}

@media only screen and (max-width: 600px) {
  header > nav {
    position: fixed;
    inset: 0 30% 0 0;
    background-color: #131313eb;
    z-index: 9999;
    padding-top: 30vh;
    backdrop-filter: blur(20px);
    transform: translateX(-100%);
    transition: transform 500ms ease-out;
  }

  header > nav button {
    padding-bottom: 2px;
  }

  .three-bars {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  div.dishes {
    margin: 0 10px !important;
  }

  section.menu > h2 {
    margin: 0 10px 20px !important;
  }
}

@media only screen and (min-width: 600px) {
  header > nav > ul {
    display: flex;
    padding-left: 0;
  }
}

.grid {
  display: grid;
}

button:not(header button) {
  background-color: transparent;
  color: white;
  border: var(--logo-brd);
  transition: var(--animation-time);
}

button:not(header button):hover {
  background-color: var(--aboutUs-backClr);
  color: var(--background-clr);
  border: 1px solid var(--aboutUs-backClr);
  cursor: pointer;
}

h1,
h2,
h3,
button {
  font-family: var(--heading-fnt);
  font-weight: 400;
}

h2 {
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: -3pt;
}

p,
span {
  font-family: var(--text-fnt);
  font-weight: 400;
}

body {
  color: white;
  background-color: var(--background-clr);
}

header {
  display: flex;
  height: var(--hd-height);
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--hd-padding);
  border: var(--logo-brd);
  margin: var(--side-mrg) var(--side-mrg) 0;
  position: relative;
}

header > nav button {
  background-color: transparent;
  color: var(--aboutUs-backClr);
  border: none;
  cursor: pointer;
  font-size: 0.938rem;
}

header > svg {
  color: white;
  width: 28px;
}

header > h1 {
  height: 100%;
  padding: 0 20px;
  border-left: var(--logo-brd);
  border-right: var(--logo-brd);
  font-family: var(--header-fnt);
  font-weight: normal;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

section {
  padding: var(--side-mrg);
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  padding: calc(1px + 1rem) calc(6px + 1.9rem);
  box-sizing: border-box;
  display: block;
}

:root.home {
  section#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--side-mrg);
  }

  section#hero h1 {
    font-size: clamp(40px, 5.8vw, 3.807rem);
    max-width: min(100vw, 500px);
    line-height: 1.2;
  }

  section#hero button {
    font-size: 1.15rem;
    padding: 0;
    margin-top: 40px;
  }

  section#hero > div {
    margin-left: calc(
      var(--hd-padding) + 7px
    ); /* cuz the buttons also have padding */
  }

  img.hero {
    height: calc(100vh - var(--hd-height) - 3 * var(--side-mrg));
  }

  section#about-us {
    background-color: var(--aboutUs-backClr);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
  }

  section#about-us > p {
    width: min(1100px, calc(100vw - 20px));
    line-height: 1.5;
  }

  section#about-us > h2 {
    width: min(1100px, calc(100vw - 20px));
    padding-bottom: 10px;
  }

  section#about-us > h2::after {
    content: "";
    display: block;
    width: 308px;
    height: 1px;
    background-color: #c1c1c1;
    position: relative;
    top: -10px;
  }

  section#opening-hours {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: var(--side-mrg);
  }

  section#opening-hours > .right-side {
    position: relative;
    max-width: min(450px, 100vw);
    margin: 0 auto;
  }

  section#opening-hours > .right-side::after {
    content: "";
    display: block;
    position: absolute;
    border-top: solid 1.5px var(--line-clr);
    width: 95%;
    left: 50%;
    top: 100%;
    translate: -50%;
    background-color: var(--line-clr);
  }

  section#opening-hours > img {
    max-height: calc(100vh - 2 * var(--side-mrg));
    width: auto;
  }

  section#opening-hours > .right-side {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section#opening-hours > .right-side > .table {
    grid-template: repeat(7, 1fr) / repeat(2, 1fr);
    width: 100%;
    flex-grow: 0.5;
    align-items: stretch;
    padding-top: 5px;
  }

  section#opening-hours > .right-side > .table > span {
    display: grid;
    align-items: center;
  }

  section#opening-hours > .right-side > .table > :nth-child(2n) {
    text-align: end;
    border-left: var(--logo-brd);
  }

  section#opening-hours > .right-side > h2::after {
    content: "";
    display: block;
    background-color: var(--line-clr);
    width: calc(100% + 80px);
    border-top: solid 1.5px var(--line-clr);
    position: relative;
    top: 0px;
    left: 50%;
    translate: -50%;
  }

  img.border {
    border: var(--logo-brd);
  }

  section#location {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
  }

  section#location > .container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
  }

  section#location > .container > img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    justify-self: end;
    flex: 1.5 1 0;
  }

  section#location > .container > div {
    flex: 1 1 0;
    align-self: start;
    padding-left: calc(var(--hd-padding) + var(--side-mrg));
  }
}

:root.menu {
  --margin: calc(var(--hd-padding) + 6px);

  section.menu > h2 {
    margin: var(--margin) var(--margin) 20px;
  }

  section.menu > div.dishes {
    margin: 0 var(--margin);
  }

  div.dishes {
    --row: 430px;
    --column: 270px;
    display: grid;
    grid-template: var(--row) / repeat(auto-fit, minmax(var(--column), 1fr));
    grid-auto-rows: var(--row);
    gap: 20px;
  }

  div.dishes > div.dish {
    --background-clr: #070707;
    display: grid;
    grid-template: 2.1fr 1.2fr / 1fr;
    border: var(--logo-brd);
    background-color: var(--background-clr);
    transition: all 180ms ease-out;
  }

  div.dish:hover {
    --translate: -10px;
    --shadow: 10px;
    transform: scale(1.01);
    translate: var(--translate) var(--translate);
    box-shadow: var(--shadow) var(--shadow) 0px black;
  }

  div.bottom h3 {
    font-weight: 700;
    font-size: 1rem;
  }

  div.bottom :first-child :last-child {
    font-family: "inika";
    font-size: 1.5rem;
    font-weight: 400;
  }

  div.bottom .name :last-child::before {
    content: "₹";
    font-size: 0.9rem;
    font-weight: 100;
    color: #a1a1a1;
  }

  div.dishes > div.dish > img {
    object-fit: cover;
    min-height: 0;
    height: 100%;
    width: 100%;
    border-bottom: var(--logo-brd);
  }

  div.dishes > div.dish > div svg {
    height: 20px;
  }

  div.dishes > div.dish > div.bottom > p {
    overflow-y: clip;
    height: 6ch;
  }

  div.bottom {
    --padding: 10px;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
  }

  div.bottom div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
  }

  div.dishes div.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-top: auto;
  }

  div.dishes div.button > button {
    width: 70px;
    height: 32px;
    font-size: 0.83rem;
  }

  div.bottom p {
    font-size: 0.75rem;
    color: #cdcdcd;
    line-heihgt: 1.23;
    position: relative;
  }
}

@media only screen and (max-width: 1050px) {
  #hero {
    flex-direction: column-reverse !important;
    align-items: flex-start !important;
    gap: 30px;
    padding-bottom: 50px !important;
  }

  #hero :first-child {
    margin: 0 0 !important;
  }

  :root.home img {
    height: auto !important;
  }

  #location > .container > .grid {
    padding-left: 0px !important;
  }
}
