:root {
  --side-mrg: 10px;
  --header-pad: 20px;
  --line-wid: 1px;
  --header-hgt: 50px;
  --logo-brd: var(--line-wid) solid #323232;
  --line-clr: #323232;
  --background-clr: #131313;
  scrollbar-color: #ffffff0d transparent;
  scrollbar-width: thin;
}

.grid {
  display: grid;
}

button {
  background-color: transparent;
  color: white;
  border: var(--logo-brd);
}

body {
  color: white;
  background-color: var(--background-clr);
}

header {
  display: flex;
  height: var(--header-hgt);
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--header-pad);
  border: var(--logo-brd);
  margin: var(--side-mrg) var(--side-mrg) 0;
}

header > svg {
  color: white;
  width: 50px;
}

header > h1 {
  translate: -50%;
  border: var(--logo-brd);
  padding: 0 20px;
}

section {
  padding: var(--side-mrg);
}

:root.home {
  section#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--side-mrg);
    max-height: calc(100vh - var(--header-hgt) - var(--side-mrg));
    height: calc(100vh - var(--header-hgt) - var(--side-mrg));
  }

  section#hero > div {
    translate: 0 -50%;
    margin-left: calc(var(--header-pad) + var(--side-mrg));
  }

  img.hero {
    max-height: 100%;
  }

  section#about-us {
    background-color: white;
    color: black;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section#about-us > h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background-color: var(--line-clr);
    position: relative;
    top: -5px;
    left: 50%;
    translate: -50%;
  }

  section#opening-hours {
    display: flex;
    height: 100vh;
  }

  section#opening-hours > img {
    max-height: 100%;
    width: auto;
  }

  section#opening-hours > .right-side {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section#opening-hours > .right-side > .table {
    grid-template: repeat(7, 1fr) / repeat(2, 1fr);
    align-items: center;
    min-width: 350px;
  }

  section#opening-hours > .right-side > .table > :nth-child(2n) {
    text-align: end;
    border-left: var(--logo-brd);
    box-sizing: content-box;
    width: calc(100%);
  }

  section#opening-hours > .right-side > h2::after {
    content: "";
    display: block;
    background-color: var(--line-clr);
    width: calc(100% + 150px);
    height: var(--line-wid);
    position: relative;
    top: -3px;
    left: 50%;
    translate: -50%;
  }

  section#opening-hours {
    padding: var(--side-mrg);
  }

  img.border {
    border: var(--logo-brd);
  }

  section#location {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  section#location > .container {
    grid-template: 1fr / 1fr 1.5fr;
    flex: 1 1 auto;
  }

  section#location > .container > img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    justify-self: end;
  }

  section#location > .container > div {
    align-self: start;
    padding-left: calc(var(--header-pad) + var(--side-mrg));
  }
}

:root.menu {
  div.dishes {
    --row: 500px;
    display: grid;
    grid-template: var(--row) / repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: var(--row);
    gap: 20px;
  }

  div.dishes > div.dish {
    --background-clr: #070707;
    display: grid;
    grid-template: 3fr 1fr / 1fr;
    border: var(--logo-brd);
    background-color: var(--background-clr);
    transition: all 180ms ease-out;
  }

  div.dish:hover {
    --translate: -10px;
    --shadow: 10px;
    transform: scale(1.01);
    translate: var(--translate) var(--translate);
    box-shadow: var(--shadow) var(--shadow) 0px black;
  }

  div.dishes > div.dish > img {
    object-fit: cover;
    min-height: 0;
    height: 100%;
    width: 100%;
    border-bottom: var(--logo-brd);
  }

  div.dishes > div.dish > div svg {
    height: 20px;
  }

  div.dishes > div.dish > div.bottom > p {
    overflow-y: clip;
    height: 6ch;
  }

  div.bottom {
    padding: calc(var(--side-mrg) + 2px);
  }

  div.bottom div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div.dishes div.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding-top: 25px;
  }

  div.dishes div.button > button {
    width: 70px;
    height: 32px;
  }
}
